.fade {
    opacity: 0;
    display: none;
}

.slide-down-fade {
    opacity: 0;
    translate: 0 25px;
    display: none;
}

.slide-right-fade {
    translate: 140px 0;
    opacity: 0;
    display: none;
}

.transition-short {
    transition-duration: 500ms;
}

.transition-long {
    transition-duration: 1s;
}
